/* canvas{
    flex: auto;
    max-width: 1920px;
    height: 4 * width / 3;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(76, 0, 95, 0.8); 
} */
table {
    width: 100%;
}
td {
    text-align: center;
}