/* canvas{
    flex: auto;
    max-width: 1920px;
    height: 4 * width / 3;
    aspect-ratio: 4 / 3;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(76, 0, 95, 0.8); 
} */
table {
    width: 100%;
}
td {
    text-align: center;
}
.order-item {
  background: #333;
  border: 1px solid #666;
  margin: 3px 0;
  padding: 6px;
  border-radius: 4px;
  cursor: grab;
  transition: background 0.2s;
}

.order-item.dragging {
  opacity: 0.4;
  background: #555;
}
